[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/bj"]
	path = vendor/plugins/bj
	url = git://github.com/gabriel/backgroundjob.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/ultrasphinx"]
	path = vendor/plugins/ultrasphinx
	url = git://github.com/fauna/ultrasphinx.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/stringex"]
	path = vendor/plugins/stringex
	url = git://github.com/rsl/stringex.git
