<h2>Edit comment for <%= @comment.owner.try(:full_name) || @comment.owner.name%></h2>
<div class="form">
<% action = @comment.new_record? ? 'create' : 'update' %>
<% form_for @comment, :url => {:action => action, :id => @comment.owner} do |f| -%>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit %></p>
<% end %>
</div>
<% if @source %>
<h3>Source Code</h3>
<div class="source">
  <%= highlight(@source) %>
</div>
<% end %>