
<div class="information">
  <dt>Results for <%= params[:q]%></dt>
  <dl class="listing">
    <% if results.empty? %>
    <dd>None</dd>
    <% end %>
    <% results.each do |result| %>
      <% if result.owner.is_a? CodeMethod %>
      <dd><span class="sub">Method</span> <%= link_to (result.owner.name + result.owner.parameters), doc_path(result.owner.path) %>
      <% else %>
      <dd><span class="sub"><%= result.owner.type %></span> <%= link_to result.owner.full_name, doc_path(result.owner.path) %></dd>
      <% end %>
    <% end %>
  </dl>
</div>
