
<div class="information">
  <dt>Results for <%= params[:q]%></dt>
  <dl class="listing">
    <% if results.empty? %>
    <dd>None</dd>
    <% end %>
    <% results.each do |result| %>
      <dd><span class="sub"><%= result.class_type %></span> <%= link_to (result.try(:full_name) || result.name), doc_path(result.path) %></dd>
    <% end %>
  </dl>
</div>
