pre {
  font-size: 95%;
  line-height: 130%;
}

tt {
  color: #C71585;
  font-weight: bold;
}

pre .normal {
 }
pre span.comment {
color:#000055;
font-style:italic;
}
pre .keyword {
color:#C71585;
font-weight:bold;
}
pre .method {
color:#007777;
}
pre .class {
color:#007744;
}
pre .module {
color:#005500;
}
pre .punct {
color:#444477;
font-weight:bold;
}
pre .symbol {
color:#009999;
}
pre .string {
background:#FFFFEE none repeat scroll 0%;
color:#6600CC;
}
pre .char {
 color:#FF0077;
}
pre .ident {
 color:#000044;
 }
pre .constant {
 color:#0077FF;
}
pre .regex {
 background:#FFEEFF none repeat scroll 0%;
 color:#BB6666;
 }
pre .number {
 color:#FF9999;
 }
pre .attribute {
 color:#77BBBB;
 }
pre .global {
 color:#77FFBB;
 }
pre .expr {
 color:#222277;
 }
pre .escape {
 color:#227777;
 }