
<div class="information">
  <h2>Containers</h2>
  <ul>
  <% containers.each do |container| %>
    <li class="code_container"><%= link_to container.name, doc_path(container.path) %>
      <ul>
      <% container.code_methods.each do |meth| %>
        <li><%= link_to meth.name, doc_path(meth.path)%><li>
      <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>