<html>
  <head>
    <title><%= Setting[:site_name] %></title>
    <%= stylesheet_link_tag :main %>
  </head>
  <body>
    <div id="header">
      <h1><%= Setting[:site_name] %></h1>
      <span class="sub"><%= link_to Setting[:git_html_url]%></span>
    </div>
    <div id="content">
      
    </div>
  </body>
</html>